html{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(83, 6, 106, 0.236);
  font-family: Roboto, sans-serif;
}

body{
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color:rgba(77, 11, 97, 0.236);
  background-color: rgba(71, 24, 85, 0.236);
  font-family: Roboto, sans-serif;
}
